body {
  background-color: rgb(182, 230, 173);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}
 
 
form {
  text-align: left;
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(230, 190, 190, 0.2);
}
 
 
.row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
 
.label {
  width: 220px;  
  font-weight: bold;
}
 
 
 
input[type="text"],
input[type="email"],
input[type="date"] {
  width: 250px;
  padding: 6px;
}
 
 
.center-buttons {
  text-align: center;
  margin-top: 15px;
}
body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}
 
 
form {
  text-align: left;
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
 
 
.row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
 
.label {
  width: 220px;  
  font-weight: bold;
}
 
 
 
input[type="text"],
input[type="email"],
input[type="date"] {
  width: 250px;
  padding: 6px;
}
 
 
.center-buttons {
  text-align: center;
  margin-top: 15px;
}
 
 