
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #48a3c2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


h3 {
    text-align: center;
    color: #120101;
    margin-top: 30px;
    font-size: 28px;
}


form {
    background-color: #fafff7;
    width: 30%;
    margin: 20px auto;
    padding: 25px 35px;
}


form input[type="text"],
form input[type="email"],
form input[type="date"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form p, form label, form br {
    font-size: 16px;
    color: #333;
}


input[type="checkbox"], 
input[type="radio"] {
    margin-right: 8px;
}


input[type="submit"],
input[type="reset"] {
    background: #576d85;
    color: #fff;
    border: 0;
    padding: 8px 15px;
    margin: 8px 5px 0 0;
    border-radius: 4px;
    cursor: pointer;
}


input[type="reset"] {
    background-color: #b30b0b;
}


input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="reset"]:hover {
    background-color: #555;
}